<h1>Carrito de Compras</h1>
{{#each cart.products}}
    <div>
        <h2>{{this.product.title}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <button onclick="removeFromCart('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
    </div>
{{/each}}

<script>
    function removeFromCart(cartId, productId) {
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'DELETE'
        }).then(response => response.json()).then(data => {
            alert(data.message || 'Producto eliminado del carrito');
            location.reload();
        });
    }
</script>
